/*			CSS				*/
/*Cascade Style Sheet (Cascade parceque les régles s'appliquent de manière descendante vers les enfants de chaque conteneur html ciblé)*/
/*Le langage constite en une suite de règles, qu'on peut appliquer à un type de conteneur, */
/*un groupe de conteneur identifiés par une class html ou un élément unique identifié par une balise id*/


header {
	background-color: #8B4513;
	color: beige;
	padding: 20px; /* Espace interieur pour le texte ne touche pas les bords */
	text-align: center;
	font-size: 1.6rem;
}

section {
	margin: 50px 0; /* Espace vertical de 50px entre les sections */
}

nav ul {
	list-style-type: none;
	padding: 0;
}

nav li {
	display: inline; /* Display lest elements en ligne */
	margin: 0 15px; /* Espacement entre les éléments */
}

nav a {
	font-size: 1.5rem;
	color: seashell;
	text-decoration: none; /* Enlève le soulignement des liens */
}

nav a:hover {
	text-decoration: underline;/* Ajoute un soulignement au survol */
	color: #FFA500;
}

/* '<element>' cible tous les éléments du type HTML spécifié (div, a, body, ...) */
input {
	border: 2px solid rgb(0, 0, 0);
	border-radius: 0%;
}

section {
	background-color: #F5DEB3;
	color: #5B3A29; /* Marron foncé pour le texte */
	text-align: center;
	padding: 50px;
}

section h2 {
	font-size: 2.5rem;/* Taille du titre */
}

section p {
	font-size: 1.2rem; /* Taille du paragraphe */
}

button {
	background-color: #FFA500;
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
	font-size: 1rem;
	cursor: pointer; /* Curseur en forme de main */
	transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
	background-color: brown;
	transform: scale(1.05);
}

button a {
	text-decoration: none;
	color: sienna; /* Why color here give the right color to the text and when it's in button section i don't get the color ! */
}

a:hover {
	text-decoration: underline;
	color: white;
}

section.content {
	background-color: #FFF8DC;
	padding: 50px 20px;
	text-align: center;
}

.content h3 {
	font-size: 2rem;
	color: saddlebrown;
}

.content-box {
	display: flex; /* Affichage en flexbox */
	justify-content: space-around; /* Espace autour des cartes */
	margin-top: 30px; /* Espacement entre le titre et les cartes */
	gap: 20px;
}

.box {
	background-color: #F4A460;
	color: white; /* Text color */
	border-radius: 10px;  /* Coins arrondis */
	padding: 20px;
	width: 30%; /* Largeur des cartes */
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Ombre sous les cartes */
	/* margin: 0px 10px; 0px en haut et en bas / 10 px à gauche/droite */
}

.box h4 {
	font-size: 1.5rem; /* Taille du titre de la carte */
	color: beige;
}

.box p {
	font-size: 1rem; /* Taille du texte */
	color: white;
}

section.carousel-wrapper {
	height: 100vh;
	background-color: #090909;
	display: flex;
	align-items: center;
	justify-content: center;
  }
  
  .carousel-wrapper {
	width: 100%;
	max-width: 900px;
	aspect-ratio: 16/9;
	overflow: hidden;
	margin: auto;
	position: relative;
  }
  
  .slide {
	width: 100%;
	height: 100%;
	border-radius: 12px;
	position: absolute;
	transition: transform 300ms ease-out;
	/* text-align: center;
	color: black; */
  }
  
  .slide img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: inherit;
  }

  .slide figcaption {
	color: wheat;
	font-size: 1.5rem; /* Définit la taille du texte de la légende, ici 1.5rem, soit 1,5 fois la taille de la police par défaut. */
	background-color: rgba(0, 0, 0, 0.5); /* Applique une couleur de fond noire semi-transparente (50% d'opacité) pour que la légende soit lisible sans cacher complètement l'image en arrière-plan. */
	text-align: center; /* Centre horizontalement le texte à l'intérieur de la légende pour un alignement esthétique. */
	padding: 10px;
	position: absolute; /* Positionne l'élément en position absolue dans son conteneur parent. Ici, cela permet de placer la légende où l’on souhaite par rapport au conteneur de l’image. */
	bottom: 5px; /* Place la légende à 5 pixels du bas de son conteneur parent, la positionnant ainsi au bas de l'image de la slide. */
	width: 89%; /* Définit la largeur de la légende, +background, à 89% du conteneur parent pour qu’elle couvre presque toute la largeur de l'image, laissant un petit espace de chaque côté. */
  }
  
  .carousel-wrapper .btn {
	font-size: 2rem;
	background: rgba(0, 0, 0, 0.7);
	color: #00c2d8;
	padding: 8px 10px;
	border-radius: 50%;
	border: none;
	margin: 10px;
	position: absolute;
	transform: translateY(-50%);
	cursor: pointer;
  }
  .carousel-wrapper .btn:hover {
	background: orangered;
  }
  
  .btn.previous {
	top: 50%;
	left: 0;
  }
  .btn.next {
	top: 50%;
	right: 0;
  }

footer {
	background-color: #8B4513;
	color: #FFD700; /* Color of text.  */ 
	padding: 20px 0;
	text-align: center;
	font-size: 0.9rem; /* Taille de texte */
}

footer a {
	text-decoration: none;
	color: seashell;

}

a:hover {
	text-decoration: underline;
}


/* button {
	border: 2px seashell;
	background-color: rgb(205, 92, 92);
	font-size: medium;
	border-radius: 10%;
} */

/* '.<class>' permet de cibler tous les éléments à qui on a attribué la class cible*/
/* .myclass {
	background-color: rgb(31, 31, 83);
	font-size: 3rem;
} */

/* '#<id>' permet de cibler l'élément html portant l'id cible*/
/* #fm {
	background-color: rgb(139, 0, 0); 
} */

/* .antoine_le_bg {
	background-color: gold;
	box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.5);
} */

/* img {
	margin : 20 20 20 20;
} */

/* Ils sont présentés dans leur ordre de prépondérance, si une règle vise un id, 
elle surpasse une visant l'élément parcequ'il a une class. Ici, le background-color red de fm s'appliquera au lieu 
de celui blue de myclass.  */

